.container-fluid{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 15px;

}

.header__background {
    background: #1E212C;

}
.d_flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 44px;
    gap: 32px;
}
.justify-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.header__info-phone{
    color: white;
    margin-right: 345px;
    text-decoration: none;
}

.header__info-links-list-link{
    color: #fff;
    text-decoration: none;
}
strong {
    font-weight: bold;
}

.header__info-login-btn{
    text-decoration: none;
    color:white;
}