.container-fluid{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 15px;

}

.header__background {
    background: #1E212C;

}
.d_flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 44px;
    gap: 32px;
}
.justify-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.header__info-phone{
    color: white;
    text-decoration: none;
    opacity: .6;
}

.header__info-links-list-link{
    color: #fff;
    text-decoration: none;
    opacity: .6;
}
strong {
    font-weight: bold;
}

.header__info-login-btn{
    text-decoration: none;
    color:white;
    opacity: .6;
}
.b__top-logo{
    display: flex;
    margin-left: 140px;


}.b__top-background-logo{
    display: flex;
    flex-direction: row;
 }

.info__top-links-list{
display: flex;
    gap: 32px;
    margin-left: 60px;
    margin-right: 420px;
}

.info__top-links-list-btn{
    text-decoration: none;
    color: black;
}
/*.info__top-links-list-btn-S{
    color: red;
    text-decoration: none;
} */
.info__top-links-list-btn:hover {
    color: #17696A;
}
.header__wrapper{
    background:  #17696A;
    width: 100%;
    padding-top: 10px;
    max-width: 1920px;
    margin: 0 auto;
    padding-bottom: 15px;
}
span{
    color: white;
}
.header__wrapper-btn{
    color: #ffffff;
}
.main{
    flex: 1 1 auto;
}
.footer__container{
    background: #1E212C;
    width: 100%;
    padding-top: 100px;
    max-width: 1920px;
    margin: 0 auto;
}
.footer{
    background: #1E212C;
    border: 1px solid;
}
.footer__item{
    display: flex;
    justify-content: space-between;
}

.info__top-links-list-btn-red{
    color: red;
    text-decoration: none;
}
.link:link{
    color: darkred;
}
.visited:visited{
    color: #100909;
}
.hover:hover{
    color: #3abc0d;
}

.active:active{
    color: blue;
}